# Fraud Analysis

In [2]:
from edgar import *
from edgar.xbrl import *
from edgar.xbrl.analysis.metrics import *
from edgar.xbrl.analysis.ratios import *

In [1]:
c = Company("CMCSA")
filing = c.latest("10-K")
xb = XBRL.from_filing(filing)

## Balance Sheet

In [3]:
balance_sheet = xb.statements.balance_sheet()
balance_sheet

                      Consolidated Balance Sheets (Standardized)
                Fiscal Year Ended (In millions, except per share data)

                                                          Dec 31, 2023   Dec 31, 2024
 ─────────────────────────────────────────────────────────────────────────────────────
        Assets
          Current Assets:
            Cash and Cash Equivalents                           $6,215         $7,322
            Accounts Receivable                                $13,813        $13,661
            Other Assets                                        $3,959         $5,817
            Total Current Assets                               $23,987        $26,801
          Film and television costs                            $12,920        $12,541
          Long-Term Investments                                 $9,385         $8,647
          Property, Plant and Equipment                        $59,700        $62,500
          Goodwill                                             $59,300        $58,200
          Franchise rights                                     $59,365        $59,365
          Other intangible assets, net                         $27,867        $25,599
          Other Assets                                         $12,333        $12,501
          Total Assets                                        $264,811       $266,211
        Liabilities and Equity
          Current Liabilities:
            Accounts Payable                                   $12,437        $11,321
            Deferred Revenue                                    $3,242         $3,507
            Accrued Liabilities                                $13,284        $10,679
            Short-Term Debt                                     $2,100         $4,900
            Advance on sale of investment                       $9,167         $9,167
            Total Current Liabilities                          $40,198        $39,581
          Long-Term Debt                                       $95,000        $94,200
          Deferred income taxes                                $26,003        $25,227
          Other Liabilities                                    $20,122        $20,942
          Commitments and contingencies
          Redeemable noncontrolling interests                     $241           $237
          Equity:
            Preferred Stock
            Common Stock                                           $48            $47
            Additional paid-in capital                         $38,533        $38,102
            Retained Earnings                                  $52,892        $56,972
            Treasury Stock Common Value                       $(7,517)       $(7,517)
            Accumulated Other Comprehensive Income/Loss       $(1,253)       $(2,043)
            Total Stockholders' Equity                         $82,703        $85,560
            Minority Interest                                     $523           $477
            Total Stockholders' Equity                         $83,226        $86,038
          Total Liabilities and Stockholders' Equity          $264,811       $266,211

## Income Statement

In [4]:
income_statement = xb.statements.income_statement()
df = income_statement.to_dataframe()
income_statement

                       Consolidated Statement of Income (Standardized)
                       Year Ended (In millions, except per share data)

                                                  Dec 31, 2024   Dec 31, 2023   Dec 31, 2022
 ────────────────────────────────────────────────────────────────────────────────────────────
    Revenue                                           $123,731       $121,572       $121,427
    Costs and Expenses:
      Programming and production                       $37,026        $36,762        $38,213
      Marketing and promotion                           $8,073         $7,971         $8,506
      Other operating and administrative               $40,533        $39,190        $38,263
      Depreciation and Amortization                     $8,729         $8,854         $8,724
      Depreciation and Amortization                     $6,072         $5,482         $5,097
      Goodwill and long-lived asset impairments                                       $8,583
      Cost of Revenue                               $(100,434)      $(98,258)     $(107,385)
    Operating Income                                   $23,297        $23,314        $14,041
    Interest Expense                                  $(4,134)       $(4,087)       $(3,896)
    Nonoperating Income/Expense                         $(490)         $1,252         $(861)
    Income Before Tax                                  $18,673        $20,478         $9,284
    Income Tax Expense                                  $2,796         $5,371         $4,359
    Net Income                                         $15,877        $15,107         $4,925
    Net Income                                            $315           $282           $445
    Net Income                                         $16,192        $15,388         $5,370
    Earnings Per Share                                    0.00           0.00           0.00
    Earnings Per Share (Diluted)                          0.00           0.00           0.00

In [5]:
(xb.query()
 .from_statement("IncomeStatement")
 .by_label("Total costs")
 .to_dataframe()
 )

,concept,label,value,numeric_value,period_start,period_end,unit_ref,decimals,statement_type,statement_role
0,us-gaap:CostsAndExpenses,Total costs and expenses,-100434000000,-1.004340e+11,2024-01-01,2024-12-31,usd,-6,IncomeStatement,http://www.comcast.com/role/ConsolidatedStatem...
1,us-gaap:CostsAndExpenses,Total costs and expenses,-98258000000,-9.825800e+10,2023-01-01,2023-12-31,usd,-6,IncomeStatement,http://www.comcast.com/role/ConsolidatedStatem...
2,us-gaap:CostsAndExpenses,Total costs and expenses,-107385000000,-1.073850e+11,2022-01-01,2022-12-31,usd,-6,IncomeStatement,http://www.comcast.com/role/ConsolidatedStatem...

In [6]:
(xb.facts.to_dataframe()
 .query("concept.str.match('us-gaap:Cost.*')")
 .filter(['concept', 'label', 'value'])
 )

                      concept                     label          value
131  us-gaap:CostsAndExpenses  Total costs and expenses  -100434000000
132  us-gaap:CostsAndExpenses  Total costs and expenses   -98258000000
133  us-gaap:CostsAndExpenses  Total costs and expenses  -107385000000

In [5]:
fr = FinancialRatios(xb)

In [7]:
fr.get_ratio_data('operating_margin')

                                 2022-12-31 2023-12-31 2024-12-31
StandardConcept.OPERATING_INCOME        NaN        NaN        NaN
StandardConcept.REVENUE                 NaN        NaN        NaN